<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vben.admin.mapper.PermissionMapper">

    <select id="selectCodesByUserId" resultType="java.lang.String">
        SELECT DISTINCT p.code
        FROM sys_permission p
        INNER JOIN sys_user_permission up ON p.id = up.permission_id
        WHERE up.user_id = #{userId}
        AND p.deleted = 0
        UNION
        SELECT DISTINCT m.auth_code
        FROM sys_menu m
        INNER JOIN sys_role_menu rm ON m.id = rm.menu_id
        INNER JOIN sys_user_role ur ON rm.role_id = ur.role_id
        WHERE ur.user_id = #{userId}
        AND m.auth_code IS NOT NULL
        AND m.deleted = 0
    </select>

</mapper>
